/*****************
General Formatting
******************/

* {
    box-sizing: border-box;
}

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

article,
aside {
    padding: .5rem;
}

#extracredit {
    width: 75%;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid darkgreen;
}


/**************
Your Formatting
***************/

#yourgrid {
    width: 90%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    min-height: 100vh;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75px 30px 1fr 50px;
    grid-template-areas: "header header" "nav nav" "article" "aside" "footer footer";
}

header {
    background-color: lightpink;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: lightpink;
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    background-color: lightcyan;
}

aside {
    background-color: lightblue;
}

nav {
    background-color: lavenderblush;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: felx;
    
}

.items {
    list-style-type: none;
    margin: 0px;
    padding-left: .25rem;
    padding: 0px;
    background-color: "#ddd";
}

@media screen and (max-width: 760px){
    #yourgrid{
        display: grid;
        width: 100vw;
        grid-template-columns: 1fr;
        grid-template-rows: 75px 30px 1fr 1fr 30px;
        grid-template-areas: "header" "nav" "article" "aside" "footer";
    }
}