* {
    box-sizing: border-box; /*keeps the box the same size*/
    font-family: sans-serif; 
}

#wrapper {
    max-width: 1000px; /*maximum screen width is 1000 pixels*/
    margin: 0 auto; /*0 on top, auto on the sides*/
}

p, li {
    font-size: 0.875em; /*percentage of font size*/
    line-height: 1.6; /*makes more space for readability*/
}

.subhead {
    font-size: 80%; /*percentage of 0.875em*/
    margin-top: 0; /*closer to the top*/
    padding-top: 0; /**/
}

h1, h2 {
    font-family:serif; /*font for headings*/
    border-bottom: 1px solid #a2a9b1; /*grey line*/
    font-weight: normal; /*default it bold*/
    overflow: hidden; /*keeps in container*/
}

h1 {
    margin-bottom:.2em; /**/
}

#infobox {
    text-align: center; /**/
    width: 250px; /**/
    border: 1px solid #a2a9b1; /*boarder for the infobox*/
    border-spacing: 3px; /**/
    background-color: #f8f9fa; /*backround color for the infobox*/
    color: black; /**/
    margin: 0.5em 0 0.5em 1em; /**/
    padding: 0.2em; /**/
    float: right; /*keeps the content to a side while the rest of the content goes around*/
    clear: right;/**/
    font-size: 75%; /*percentage of 0.875em*/
}

#infobox img {
    max-width: 100%; /*set the maximum image width to 100*/
}

#infobox th, #infobox td {
    vertical-align: top; /**/
    text-align: left; /**/
    padding-top: 2px; /**/
}

a { 
    text-decoration: none; /**/
}

a:hover { border-bottom: 1px solid;} /**/

a[href^="http"]:after {
    display: inline-block; /**/
    font-style: normal; /**/
    font-variant: normal; /**/
    text-rendering: auto; /**/
    -webkit-font-smoothing: antialiased; /**/
    font-family: "Font Awesome 5 Free"; /**/
    font-weight: 900; /**/
    content: "\f35d"; /**/
    padding-left: 3px; /**/
    font-size: 90%; /*percentage of 0.875em*/
  }

  a[href^="http://en.wikipedia"]:after {
    content: none; /**/
  } 
