body {
    background-color: #5D737E;
    font-size: 14px;
    height: 100%;
    width: 100%;
}

.subhead {
    color:#38454C;
}

header,
section {
    background-color: #7895A3;
    max-width: 480px;
    display: block;
    margin: 40px auto;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

img {
    width: 150px;
    border-radius: 500px;
    border: 5px double #5D737E;
}

h1 {
    color: #E5FEFF;
    font-size: 3em;
}

h2 {
    color: #E5FEFF;
    font-size: 2em;
    text-align: center;
}

section {
    width: 48%;
    margin-top: 5px;
    margin-bottom: 5px;
    float: center;
    box-sizing: border-box;
    text-align: center;
}

.ex {
    color: #38454C;
}

.pro {
    color: #38454C;
}

ul {
    list-style-type: none;
    padding: 0px;
    text-align: center;
}
a:link {
    color: #38454C;
    text-decoration: none;
}

a:visited {
    color: #38454C;
    text-decoration: none;
}

a:hover{
    color: #E5FEFF;
    text-decoration: none;
}
/* */
footer {
    text-align: center;
    color: darkgrey;
    font-size: .8em;
}