body {
    background-color: #71CAE2;
    font-size: 14px;
    height: 100%;
    width: 100%;
}

wrapper {
    width: 100vw;

}

/* Gracie */
h1 {
    position: absolute;
    width: 640px;
    height: 214px;
    left: 968px;
    top: 138px;

    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 144px;

    color: #3C5B72;
}


header,
section {
    max-width: 480px;
    display: block;
    margin: 40px auto;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

/* Image at the top of the page */
#homeTop {
    background-size: cover;
    background-image: url(images/mainBot.png);
    width: 100vw;
    background-attachment: fixed;
}

#DMV Redesign {
    background-size: cover;
    background-image: url(Artboard1.png);
    width: 100vw;
    background-attachment: fixed;
}
#Word Illustrations {
    background-size: cover;
    background-image: url(P1-final.jpg);
    width: 100vw;
    background-attachment: fixed;
}
#3D Corner {
    background-size: cover;
    background-image: url(Corner_Canfield.png);
    width: 100vw;
    background-attachment: fixed;
}
#Hawaii Login {
    background-size: cover;
    background-image: url(Artboard1.png);
    width: 100vw;
    background-attachment: fixed;
}
#3D Animation {
    background-size: cover;
    background-image: url(christmas.png);
    width: 100vw;
    background-attachment: fixed;
}

/* projects*/
work, img {
    width: 150px;
}

section {
    width: 48%;
    margin-top: 5px;
    margin-bottom: 5px;
    float: center;
    box-sizing: border-box;
    text-align: center;
}

.ex {
    color: #38454C;
}

a:link {
    color: #38454C;
    text-decoration: none;
}

a:visited {
    color: #38454C;
    text-decoration: none;
}

a:hover{
    color: #E5FEFF;
    text-decoration: none;
}
/* */
footer {
    text-align: center;
    color: darkgrey;
    font-size: .8em;
}